@media screen and (max-width: 600px) {
  .website-title-and-logo {
    font-size: 20px;
  }

  .navbar-content ul {
    display: none;
  }

  .menu {
    display: block;
  }

  .travel-details {
    height: auto;
  }

  .info-collector {
    flex-direction: column;
    height: auto;
    padding: 15px;
    width: 85%;
  }

  .info-collector form {
    flex-direction: column;
  }

  .info-collector > form > div > input,
  select {
    display: inline-block;
    width: 310px;
  }

  .info-collector > form > div > input {
    display: inline-block;
    width: 290px;
  }

  .info-collector > form {
    width: 80%;
  }

  .heading-text-content h4 {
    font-size: 40px;
  }

  .favourite-container {
    flex-direction: column;
    gap: 15px;
  }

  .grid-img-container1,
  .grid-img-container2,
  .grid-img-container3 {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .features-container div {
    flex-basis: 100%;
  }

  .offer-and-recommendation {
    flex-direction: column;
  }

  .newsletter-section {
    flex-direction: column;
  }
}
