@media screen and (max-width: 600px) {
  .website-title-and-logo {
    font-size: 20px;
  }
  .color-text {
    color: #ff5400;
    font-size: 20px;
    font-weight: 800;
  }

  .navbar-content ul {
    display: none;
  }

  .menu {
    display: block;
  }

  .travel-details {
    height: auto;
  }
  .travel-details {
    background-size: 100% 100%;
  }
  .info-collector {
    flex-direction: column;
    height: auto;
    padding: 15px;
    width: 30%;
  }

  .info-collector form {
    flex-direction: column;
  }

  .info-collector > form > div > input,
  select {
    display: inline-block;
    width: 310px;
  }

  .info-collector > form > div > input {
    display: inline-block;
    width: 290px;
  }

  .info-collector > form {
    width: 80%;
  }

  .heading-text-content h4 {
    font-size: 40px;
  }

  .favourite-container {
    flex-direction: column;
    gap: 15px;
  }

  .grid-img-container1,
  .grid-img-container2,
  .grid-img-container3 {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .features-container div {
    flex-basis: 100%;
  }

  .offer-and-recommendation {
    flex-direction: column;
  }

  .newsletter-section {
    flex-direction: column;
  }
  .newsletter-img {
    position: relative;
    text-align: center;
  }
  .text {
    position: absolute;
    top: 42%;
    left: 37%;
    transform: rotate(-19.628deg);
    width: 280px;
    height: 80px;
    border-radius: 10px;
    background: #ff5400;
    padding: 10px 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }
}
