@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Mulish", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  align-items: center;
}

.website-title-and-logo {
  display: flex;
  gap: 20px;
  font-size: 36px;
  font-weight: 800;
  align-items: center;
}

header img {
  width: 48px;
  height: 56px;
}

.navbar-content ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 20px;
}

.menu {
  display: none;
}

.color-text {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
.color-text1 {
  color: #ff5400;
}
/* ------- travel details------ */
.travel-details {
  min-height: 500px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/beach.png);
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: 100%;
  margin-bottom: 40px;
}
.heading-text-content h4 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.heading-descriptions {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 0;
}
.info-collector {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 0;
  width: 55%;
  margin: 0 auto;
  align-items: center;
  border-radius: 10px;
}
#where {
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  background: #fff;
  width: 144px;
  height: 42px;
  border: none;
  font-family: "Mulish", "sans-serif";
  font-weight: 800;
  padding-left: 15px;
}
#when {
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  background: #fff;
  width: 144px;
  height: 42px;
  border: none;
  font-family: "Mulish", "sans-serif";
  font-weight: 800;
}
#Select {
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  background: #fff;
  width: 144px;
  height: 42px;
  border: none;
  font-family: "Mulish", "sans-serif";
  font-weight: 800;
  padding-left: 15px;
}

.info-collector form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.info-collector > form > div > input,
select {
  padding: 8px;
  border-radius: 3px;
}

.btn-primary img {
  align-items: center;
  text-align: center;
  width: 20px;
}
.btn-primary {
  border-radius: 8px;
  color: #fff;
  background: #ff5400;
  width: 144px;
  height: 42px;
  border: none;
  cursor: pointer;
  font-family: "Mulish", "sans-serif";
  font-weight: 800;
  padding-bottom: 5px;
}
/* ------favourite section------- */

.info-header {
  color: #131313;
  font-weight: 800;
  font-size: 40px;
}
.info-descriptions {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.list-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.info-descriptions2 {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.favourite-container {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
}

.favourite-section img {
  width: 100%;
}
.destination-container {
  text-align: center;
  align-items: center;
  margin-top: 100px;
}
.destination-header {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0;
}
.destination img {
  height: 300px;
  width: 100%;
}
.destination-description {
  font-weight: 400;
}
.grid-img-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  margin-bottom: 0;
}
.grid-img-container2 {
  display: grid;
  grid-template-columns: 30% auto 30%;
  justify-content: center;
  gap: 20px;
  margin-top: 24px;
  margin-bottom: 0;
}
.grid-img-container3 {
  display: grid;
  grid-template-columns: 40% 58%;
  gap: 20px;
  margin-top: 24px;
  justify-content: center;
}
/* Feature section related styles */
.feature-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.features-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.features-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.features-container div {
  padding: 25px;
  flex-basis: 40%;
}

.features-container1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.features-container2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.features-container3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* Offer and recommendation related styles*/
.offer-and-recommendation {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  gap: 20px;
  flex-basis: 40%;
}

.offer-and-recommendation img {
  width: 100%;
  height: 422px;
}

.offer-header {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  margin: 0;
}
.offer-descriptions {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.list-description {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
}
/* Newsletter Section related styles */
.newsletter-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.newsletter {
  flex-shrink: 0;
}

.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.newsletter-subtitle {
  color: #5a5a5d;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
.inputs {
  width: 100%;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  margin-top: 25px;
  text-align: center;
  font-family: "mulish", "sans-serif";
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
}
.btn-Subscribe {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: "Mulish", "sans-serif";
  font-size: 20px;
  font-weight: 800;
  margin-top: 25px;
  border: none;
}
.newsletter-img {
  height: 422px;
  flex-shrink: 0;
}
.newsletter-img {
  position: relative;
  text-align: center;
}
.text {
  position: absolute;
  top: 64%;
  left: 51%;
  transform: rotate(-19.628deg);
  width: 280px;
  height: 80px;
  border-radius: 10px;
  background: #ff5400;
  padding: 10px 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
#text-bold {
  font-weight: 800;
}

.newsletter-img img {
  width: 100%;
}

.h-style {
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
/* Footer styles */
footer {
  height: 502px;
  margin-top: 60px;
  background: rgba(19, 19, 24, 0.05);
  max-width: 100%;
}

.footer-title {
  font-size: 36px;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 26px;
  font-weight: 800;
  align-items: center;
}
.footer-copyright {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer-img {
  text-align: center;
}
.hr-styles {
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  position: relative;
  margin-top: 30px;
}
.f-copyright {
  color: #131318;
  font-family: "Inter", "Helvetica Neue";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 70px;
}
